# Application
AI_OBSIDIAN_APP_NAME="AI Obsidian Service"

# Index / Storage
AI_OBSIDIAN_INDEX_DIR=""

# Logging
AI_OBSIDIAN_JSON_LOGS=true
AI_OBSIDIAN_LOG_LEVEL=INFO
AI_OBSIDIAN_LOG_UVICORN=true

# Request ID header
AI_OBSIDIAN_REQUEST_ID_HEADER="X-Request-ID"
