# Core
typer>=0.12
tqdm>=4.66
uvicorn>=0.30
pyyaml>=6.0
numpy>=1.26

# Vector search
faiss-cpu>=1.8

# Embeddings
sentence-transformers>=3.0

# Parsers
python-frontmatter>=1.0
pypdf>=4.2
ebooklib>=0.18

# API
fastapi[all]>=0.112

ollama>=0.1.7

